.nav{
	background-color: #333;
	height: 50px;
	top:0;
	width: 100%;
	position: fixed;
	left: 0;
}
.link{
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.mydiv{
	top: 50px;
	width: 300px;
	position: fixed;
	height: 100%;
	left: 0;
}

.mydiv ul{
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 300px;
	background-color: #f1f1f1;
	height: 100%;
	position: fixed;
	overflow: auto;
}
.para{
	margin-left: 300px;
	padding: 20px;
	margin-top:50px;
}
.act{
	display: block;
	padding: 8px 16px;
	color: white;
	text-decoration: none;
	background-color: #4CAF50;
}
.notact{
	display: block;
	padding: 8px 16px;
	text-decoration: none;
}
.button{
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.flex-container{

}
